body {
    background-color: rgba(254,251,216,255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.page-header {
    background-color: rgb(69,112,117);
    color: black;
    padding: 60px;
    text-align: center;
   
}

#PO-button {
    display: block;
    margin: 30px auto 0 auto; /* sus 30px, auto stânga/dreapta = centrat */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.item-box {
    background-color: rgba(254,251,216,255);
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    width: 100%;
    height: 160px;
    max-width: 250px;
    min-width: 200px;
    box-sizing: border-box;
    flex: 1 1 auto;
}
.boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
    max-width: 800px; /* opțional, pentru centrare și limitare */
    margin: 0 auto;
}

.order {
    margin-top: 10px;
}

#loading-overlay {
    
    position:fixed; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%;  
    z-index:1000; 
    text-align:center; 
    padding-top:200px;
}
.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sales-order-panel {
    position: absolute;
    right: 30px;
    top: 100px;
    width: 400px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.purchase-order-panel {
    position: absolute;
    left: 30px;
    top: 100px;
    width: 400px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

#button-dl
{
    right:30px;

}

.footer-section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px; /* spațiu mare sub buton */
}

