body {
    
    background-color: #ffffe3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.item-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
}

.order {
    margin-top: 10px;
}
