body {
    background-image: url("Images/background2.jpg");
    background-color:floralwhite;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.i{
    transform: scale(2);
}

.cover {
    background-color: rgb(69,112,117);
    opacity: 0.9;
    padding: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
    height: 70vh;
    gap: 20px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Bahnschrift;
    color: black;
}

.button {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px
}

.welcome {
    color: black;
    text-align: center;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 15vh;
}

.company-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(254,251,216,255);
    color: black;
    text-decoration: none;
    font-size: 2.5vh;
    font-weight: bold;
    width: 20vw;
    height: 25vh;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.2s ease, background-color 0.2s ease;
    margin: 10px;
    margin-bottom: 10vh;
}

    #start {
        height: 10vh;
        opacity:100%;
        
    }

    #start:hover {
        background-color: rgba(251,238,186,255);
        transform: scale(1.05);
        opacity: 1;
    }

#description {
    font-size: 1rem;
    text-align: center;
    min-height: 70px;
    max-width: 700px;
    margin: 20px auto;
    transition: all 0.3s ease;
    position: relative;
}

    /* Stilul de message box */
    #description.tooltip-box {
        background-color: #fffdd0;
        color: #000;
        border: 1px solid #999;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

/* Săgeata este inițial ascunsă */
.tooltip-arrow {
    display: none;
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fffdd0;
    transition: left 0.3s ease;
}

/* Săgeata apare doar când avem tooltip-box */
#description.tooltip-box .tooltip-arrow {
    display: block;
}






.icon {
    font-size: 3.5rem; /* pictograma mare */
    margin-bottom: 2px;
    color: #333;
}

.role {
    font-size: 0.7rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 15px;
    color: #555;
}

.link {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
   
}


   
