@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Intercompany Simulation";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <div class="container">
       
        <div class="cover">
            <h1 class="welcome">Welcome to the Intercompany Simulation for SAP Business One </h1>
            <p > Please choose your start in the simulation:</p>
            <div class="button">
                <div class="company-button">
                    <i class="fas fa-building icon"></i>
                    <p class="role">Customer</p>
                    <a asp-page="/Page2" class="link"> Company A </a>
                </div>
                <div class="company-button"> 
                    <i class="fas fa-industry icon"></i>
                    <p class="role">Vender</p>
                    <a asp-page="/Page2" class="link"> Company B </a>
                </div>
               
            </div>
        </div>
    </div>

</body>
</html>

