@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Produse SAP";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Index.css">

</head>
<body>
    <div class="container">
        <a asp-page="/Page2" class="company-button">Compania A</a>
        <a asp-page="/Page2" class="company-button">Compania B</a>
    </div>

</body>
</html>

