@page
@model Page2Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Hello</h1>

<a href="https://localhost:7178/">Page 1</a>




<form asp-page-handler="Sales" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-antiforgery="true" />
    <button type="submit">Create SalesOrder</button>
</form>

@if(Model.VerifySO != null)
{
    @if (Model.VerifySO == false)
    {
        <p style="color:red">Nu s-a putut crea SalesOrder.</p>
    }
    else
    {
        <p style="color:green">SalesOrder creat cu succes.</p>
    }
}
else
{
    <p>Metoda inca nu a fost apelata. Te rog apasa butonul</p>
} 

<form asp-page-handler="Purchase" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-antiforgery="true" />
    <button type="submit">Create PurchaseOrder</button>
</form>

@if (Model.VerifyPO != null)
{
    @if (Model.VerifyPO == false)
    {
        <p style="color:red">Nu s-a putut crea PurchaseOrder.</p>
    }
    else
    {
        <p style="color:green">PurchaseOrder creat cu succes.</p>

        @if (Model.VerifySOfromPO != null)
        {
            @if (Model.VerifySOfromPO == false)
            {
                <p style="color:red">Nu s-a putut crea SalesOrder din PurchaseOrder.</p>
            }
            else
            {
                <p style="color:green">SalesOrder creat cu succes din PurchaseOrder.</p>
            }
        }
        else
        {
            <p>Metoda inca nu a fost apelata. Te rog apasa butonul de "Create SalesOrder from PurchaseOrder"</p>
        }
    }
}
else
{
    <p>Metoda inca nu a fost apelata. Te rog apasa butonul de "Create PurchaseOrder"</p>
}
@if(Model.VerifyDelivery==true)
{
    <p style="color:green">Delivery creat cu succes.</p>
}
else
{
    <p style="color:red">Nu s-a putut crea Delivery.</p>
}

@if (Model.VerifyGrPO == true)
{
    <p style="color:green">Goods Receipt creat cu succes.</p>
}
else
{
    <p style="color:red">Nu s-a putut crea Goods Receipt.</p>
})


